*{
   
        font-family: 'Cairo', sans-serif;
      
}
.text-color{
    color: #7fad39 !important;
}

.hovering:hover{
    color: #7fad39 !important;
    cursor: pointer;

}



.bg-colorr{
    background-color: #7fad39;
}

.bg-images{
    background-image: url('./images/banner.jpg');
}
.bg-phonee{
    background-color: #f5f5f5;
}
.text-size{
    font-size: 15px;

}
.pointerr{
    cursor: pointer;
}
.text-size-2{
    font-size: 13px;

}
.border-nonee{
    border: none;
}

.image-container {
    position: relative;
    display: inline-block;
  }

  
  
  .button-container {
    position: absolute;
    top: 84%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .bg-blog{
    background-image: url("./images/blogbg.jpg");
  }
  
  

